body{
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    width: 100%;
    height: 100%;
}
.parentCard{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
  background-color: #fff;
  color: #000;
  width: 300px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0,0, 0.1);
  height: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* card top */
.top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 20%;
  padding: 4px 6px;
}
.top img {
  width: 60px;
  height: 60px;
  object-fit: contain;  /* keeps logo proportion */
  border-radius: 8px;   /* slightly rounded corners */
  border: 1px solid rgb(130, 129, 129);
  padding: 2px;
  background-color: transparent;
  box-sizing: border-box;
}
.top img:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.top button {
  display: flex;
  align-items: center;  /* vertically center text + icon */
  gap: 5px;             /* space between text and icon */
  background-color: #e7e7e7;
  border: none;
  color: #000;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, 
              rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, 
              rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, 
              rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, 
              rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, 
              rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
}

.top button:hover {
  background-color: #d4d4d4;
  color: #000;
}

/* card center */
.center{
  height: 50%;
  padding: 10px 0;
}
.center h2{
  margin: 0;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.center h2 span{
  font-size: 14px;
  color: gray;
  margin-left: 10px;
}
.center p{
  font-size: 16px;
  color: #1c1c1c;
}
.centerBtn{
  margin-top: 10px;
  display: flex;
  gap: 10px;
}
.centerBtn button{
  background-color: #e7e7e7;
  border:  1px solid #ccc;
  color: #000;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.centerBtn button:hover{
  background-color: #d4d4d4;
  border: 1px solid #aaa;
}
/* bottom */
.bottom{
  border-top: 1px solid #ccc;
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}
.bottom .bottomLeft{
  display: flex;
  gap: 10px;
  width: 40%;
}
.bottomLeft span{
  font-size: 12px;
  color: gray;
}
.bottom .bottomRight{
  font-size: 14px;
  color: gray;
}
.bottomRight button{
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background-color: #1c1c1c;
  color: #fff;
  cursor: pointer;
}
.bottomRight button:hover{
  background-color: #333;
}
@media screen and (min-width:400px) and (max-width) {
  .card{
    width: 100vw;
  }
}