.btn{
    width: 100px;    
    background-color: blue;
    color: white;
    padding: 6px 20px;
    border-radius: 8px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: darkblue;
    transform: scale(1.1);
}