@import 'tailwindcss';
@keyframes wave {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-wave {
  animation: wave 10s linear infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}
